body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.chessboard {
    display: flex;
    flex-direction: column;
    border: 5px solid #333;
    width: 320px;
    height: 320px;
}

.row {
    display: flex;
}

.square {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.black {
    background-color: #10110f;
    color: #fff;
}

.white {
    background-color: #fdfdf9;
    color: #000;
}

